/* Tipo de letra */
@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Rubik&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}
body {

    background-image: url("https://img.freepik.com/vector-premium/carta-juego-fichas-casino-mano-poquer-ganadoras-que-vuelan-fichas-realistas-apostar-dinero-efectivo-ruleta-o-poquer_29865-2741.jpg"); 

    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(36 169 191);
    text-align: center;
    font-family: 'Sassy Frass', cursive;
    font-size: 83px;

}

.contenedor {
    padding: 40px;
    display: flex;

    height: 93vh;
    width: 65vw;
    margin: 0;

    box-shadow: 6px 6px 26px -1px  rgb(36 169 191);
    border-radius: 159px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    user-select: none;
    position: relative;
} 
/* estilo de todo el contenido */
.cotent{
    margin: -232px;
    padding: 181px;
    flex-direction: column;
    padding-top: 9rem;
}
/* Estilo del contenido */
#tab {
    justify-content: space-between;
    display: none;
    min-width: 455px;
}
#tab > div {
    margin: 25px;
}

/* Estilo de todos los controles (botones)*/
.controls {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.controls #reset {
    display: none;
}
.controls #btn-pedir {
    display: none;
}
.controls #btn-plantarse {
    display: none;
}

.controls button {
    background-color: rgb(38, 47, 60);
    color: rgb(36 169 191);
    border-radius: 21px;
    border: none;
    transition: all .7s;
    padding: 15px;
    margin: 25px;
}
.controls button:hover {
    box-shadow: 20px 19px 60px -7px rgb(6, 183, 214);
    cursor: pointer;
    font-size: 15px;
}

button {
    height: 10vh;
    width: 12vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}
/* Estilo de los párrafos */
p {
    color: #66adf7;
    font-size: 24px;
    max-width: 100px;
}
p span {
    display: flex;
    justify-content: start;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
p span div {
    font-family: 'Sassy Frass', cursive;
    text-align: center;
    margin: 1px;
}
p#resultado {
    color: #909cb1;
    font-family: 'cursive';
    font-weight: bold;
    text-align: center;
    font-size: 22px;

    box-shadow: inset 4px 4px 25px -1px rgb(36 169 191);
    border-radius: 7px;
    max-width: 240vh;

    margin-bottom: -27px;   
}
/* estilo del boto´n apostar */
#btn-apostar {
    display: none;
    height: 6vh;
    width: 8vw;

    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;

    background-color: rgb(38, 47, 60);
    color: rgb(36 169 191);

    border-radius: 21px;
    border: none;

}

#btn-apostar:hover {
    box-shadow: 20px 19px 60px -7px rgb(6, 183, 214);
    cursor: pointer;
    font-size: 15px;
}


/* oculta las monedas de la página principal */
 .cash {
    display: none;
 }

 .content_cash{
    display: flex;
    justify-content: space-between;
    font-size: 15px;

 }